@model IEnumerable<CodeVein.Models.WeaponsListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeaponId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeaponName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeaponType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeaponStats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeaponLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeaponId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeaponName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeaponType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeaponStats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeaponLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
